.header{
    background-color:rgb(24, 9, 9);    
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    border: 2px solid #000000;
    border-radius: 50px;

}

.bodyImg{
    background-color: black;
    font-family:cursive;
    border-style: hidden;
    color: #deb887;

}

.origami{
    border-radius: 20px;
    background-color:#ff7f50;
    width: 310px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-style:groove;
    padding: 30px;
    margin: 25px;
}

h1,h2{
    color:#deb887;
}

h3{
    color: #000000
}



body{
    background-color:#000000;
    border: #000000
}